Kong Adapter: OAuth2 responses for implicit flow not RFC6479 compliant

In case there is an error when requesting an access token via the implicit flow, using the Kong Adapter's OAuth2 functionality, it must answer with a redirect back to the client's redirect URI with an error in the fragment as specified in RFC6479, section 4.2.2.1. This is currently not the case.

https://tools.ietf.org/html/rfc6749#section-4.2.2.1


This will be addressed with the rewrite/implementation of a default Authorization Server and refactoring out the OAuth2 bits and pieces from the Kong Adapter.

See also #52.

Going into https://github.com/apim-haufe-io/wicked.portal-kong-oauth2

Going into https://github.com/apim-haufe-io/wicked.portal-auth; this is fixed.